@model TreinoMVC.Models.Categoria;


<h3>Cadastro de Categorias</h3>
<hr>
<form class="form-horizontal" asp-controller="Categorias" asp-action="Salvar" method="POST">
    <input type="hidden" asp-for="Id" value="0">
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome da Categoria"><br>
    <span asp-validation-for="Nome"></span>
    <button class="btn btn-success">Cadastrar</button>
</form><br>
<a href="javascript:history.back();">Voltar</a>
