@{
    ViewData["Title"] = "Home Page";
 
}
  
<div class="text-center">

    <h2 class="text-info">Bem Vindo ao Sistema de Agenda!</h2><br>
    <h3 class="display-6"> Crie seus Contatos e os Organize em Categorias! <br><br> </h3>
    <p class="text-secondary"> Efetue seu Login ou Cadastre-se para começar.</p>
</div>

