@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Bem Vindo ao Sistema de Agenda! <br><br> Crie seus Contatos e os Organize em Categorias!</h1>
    
</div>
